/*-- normalize.css --*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[;idden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*-- base --*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.noscript {
    text-align:center;
    display:block;
    background:red;
    color:#fff;
    line-height:30px
}
.fl {
    float:left;
    display:inline
}
.fr {
    float:right;
    display:inline
}
.none {
    display:none
}
.v-h {
    visibility:hidden
}
.textb {
    white-space:normal;
    word-wrap:break-word;
    word-break:break-all
}
.textep {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.unselect {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
.fh {
  font-family:Helvetica, STHeiti, Droid Sans Fallback
}
.yh {
  font-family:"Microsoft YaHei", "微软雅黑", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}
.st {
  font-family:"\5B8B\4F53", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}
.ht {
  font-family:"\9ED1\4F53", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}
.ar {
  font-family:"Arial", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}
ul,li {
    margin:0;
    padding:0;
}
p {
  margin:0;
}
h1, h2, h3, h4 {
  margin:0;
}
noscript {
  height:30px;
  line-height:30px;
  background:#fff;
  text-align:center;
  font-size:20px;
}
menu, ul {margin:0;padding: 0; list-style-type:none;}
.d-ib {display:inline-block;}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
}

address {
  font-style: normal;
  line-height: 1.42857143;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}


/*-- global --*/
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs19 {font-size: 19px;}
.fs20 {font-size: 20px;}
.fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs23 {font-size: 23px;}
.fs24 {font-size: 24px;}

.lh10 {line-height: 1.0;}
.lh11 {line-height: 1.1;}
.lh12 {line-height: 1.2;}
.lh13 {line-height: 1.3;}
.lh14 {line-height: 1.4;}
.lh15 {line-height: 1.5;}
.lh16 {line-height: 1.6;}
.lh17 {line-height: 1.7;}
.lh18 {line-height: 1.8;}
.lh19 {line-height: 1.9;}
.lh20 {line-height: 2.0;}

.fw-b {font-weight:bold;}
.fw-n {font-weight:normal;}
.td-u {text-decoration:underline;}
.td-n {text-decoration:none;}
.ta-c {text-align:center;}
.ta-l {text-align:left;}
.ta-r {text-align:right;}
.fs-d {text-decoration: line-through;}
.fs-n {font-style:normal;}
.fs-i {font-style:italic;}

.c000 {color: #000;}
.c333 {color: #333;}
.c666 {color: #666;}
.c999 {color: #999;}
.cccc {color: #ccc;}
.cf00 {color: #f00;}
.c0f0 {color: #0f0;}
.c00f {color: #00f;}
.cf60 {color: #f60;}
.cfff {color: #fff;}

body {line-height: 1.2;}

.container {
  *zoom: 1;
  width: 940px;
  margin: 0 auto;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}


.row {
  width: 100%;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}


.row [class*="col-"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

[class*="col-"] + [class*="col-"] {
  margin-left: 2.127659574468085%;
}

.row .col-12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row .col-11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row .col-10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row .col-9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row .col-8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row .col-7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row .col-6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row .col-5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row .col-4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row .col-3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row .col-2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row .col-1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}






