/*-- 表单 placeholder --*/
input:-moz-placeholder {  
      color: green;  
}
input::-webkit-input-placeholder {  
      color: green;  
    }  
input:-ms-input-placeholder {  
      color: green;  
    }