function create5Star(context)
{  
    var n = 0;  
    var dx = 100;  
    var dy = 0;  
    var s = 50;  
    // 创建路径  
    context.beginPath();  
    context.fillStyle = 'rgba(255,0,0,0.5)';  

    var dig = Math.PI / 5 * 4;  
    for(var i = 0; i < 5; i++) 
    {  
        var x = Math.sin(i * dig);  
        var y = Math.cos(i * dig);  
        context.lineTo( dx + x * s,dy + y * s);  
    }     
    context.closePath();  
    context.fill();
}