/*-- 视频全屏 --*/
;(function($) {
   var selectString = '[video-fullscreen="true"]'
   var fullscreen = function(elem) {
        var prefix = 'webkit';
        var moz ='moz';
          if ( elem[prefix + 'EnterFullScreen'] ) {
            return prefix + 'EnterFullScreen';
          } else if( elem[prefix + 'RequestFullScreen'] ) {
            return prefix + 'RequestFullScreen';
          }else if (elem[moz + 'EnterFullScreen'] ) {
            return moz + 'EnterFullScreen';
          }else if (elem[moz + 'RequestFullScreen'] ) {
            return moz + 'RequestFullScreen';
          }else if (elem['EnterFullScreen']) {
            return 'EnterFullScreen';
          }else if (elem['RequestFullScreen']) {
            return 'RequestFullScreen';
          }
            
          ;
        return false;
    };
    function autoFullScrenn(v){
        $this = v;
        var ua   = navigator.userAgent.toLowerCase();  
        var Android = String(ua.match(/android/i)) == "android";
        // if(!Android) return;//非android系统不使用;
        var video  = v[0],doc = document;
        var fullscreenvideo = fullscreen(doc.createElement("div"));
        if(!fullscreen) {
            //alert("不支持全屏模式");
            return;
        }
        video.addEventListener("webkitfullscreenchange",function(e){
            if(!doc.webkitIsFullScreen){//退出全屏暂停视频
                this.pause();
              
            };
        }, false); 
        video.addEventListener("click", function(){
           
            $this.data('change','true');
            $('#bodyfull')[0][fullscreenvideo]();
            //video[fullscreenvideo]();
        }, false);

        video.addEventListener('ended',function(){
            doc.webkitCancelFullScreen(); //播放完毕自动退出全屏
        },false);

    };
    $(document).ready(function() {
      $(selectString).each(function (n) {
        
        //  $(this).on('click',function  () {
//            $(this)[0].webkitRequestFullScreen();
//            $(this)[0].play();
              autoFullScrenn($(this));
         // })      
      })
    })
    
    })(jQuery);